on boot

on enable-low-power

    # Disable sched_boost after boot complete
    write /proc/sys/kernel/sched_boost 0

    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 80640

    write /sys/devices/system/cpu/cpu0/online 1

    write /sys/devices/system/cpu/cpu4/online 1

    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/dm-0/queue/scheduler cfq
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sde/queue/scheduler cfq

    write /sys/module/msm_thermal/core_control/enabled 0

    # Set nice Level to 9
    write /proc/sys/kernel/sched_upmigrate_min_nice 9


on property:sys.boot_completed=1
    trigger enable-low-power

    # Set I/O squeduler
    setprop sys.io.scheduler "cfq"

on property:init.svc.recovery=running
    trigger enable-low-power

